<h1>Pocker#index</h1>
<p>Find me in app/views/pocker/index.html.erb</p>
<form method="post" action="/pocker/index">
  <table>
    <tr>
      <th>Name:</th>
      <td><input type="text" name="name"></td>
    </tr>
  </table>
</form>
